<section id="about" class="about">
    <div class="about-content container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-heading wow slideInLeft">{{ page.about-title }}</h2>
                <hr class="light">
                <p class="text-faded wow slideInRight">{{ page.about-content }}</p>
                <a href="#services" class="page-scroll btn btn-default btn-xl wow slideInLeft" title="Event Photography West Yorkshire by 159 Photography">{{ page.about-button }}</a>
            </div>
        </div>
    </div>
</section>  
