<section class="bg-primary about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Photography For Your Events</h2>
                <hr class="light">
                <p class="text-faded">159 Photography offer a range of photography services to cover your event, whether it's a festival, birthday, ball, school prom, wedding or party we can cover all your needs across the whole of West Yorkshire</p>
                <a href="#services" class="page-scroll btn btn-default btn-xl" title="Event Photography West Yorkshire by 159 Photography">Find out more</a>
            </div>
        </div>
    </div>
</section>
