<section class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <div class="col-md-6 footer-feature">
                   <p class="small copyright"><a href="http://www.159photography.co.uk" title="159Photography, Professional Event Photography, West Yorkshire">&copy; 2018 159Photography, West Yorkshire. All Rights Reserved.</a> </p>
                   <ul class="footer-nav">
                       <li><a href="#">Terms and Conditions</a></li>
                       <li><a href="#">Privacy Policy</a></li>
                   </ul>
               </div>
               <div class="col-md-6 footer-feature">
                <div class="col-half">
                <h3>Contact</h3>
                    <p class="address">
                        159 Photography<br />
                        Hare Park Lane<br />
                        Cleckheaton<br />
                        West Yorkshire<br />
                    <a href="mailto:info@159photography.co.uk">info@159photography.co.uk</a> </li>
                    </ul>
                    </div>
                    <div class="col-half">
                   <h3>Follow me</h3>
                    <div class="footer-social">
                        <a href="{{ site.facebook_username }}" target="_blank">
                            <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        </a>
                    </div>
                    <div class="footer-social">
                        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                            <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        </a>
                    </div>
                    <div class="footer-social">
                        <a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank">
                            <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        </a>
                    </div>
                    <div class="footer-social">
                        <a href="mailto:{{ site.email }}" target="_blank">
                            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        </a>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </div>
</section>
