<section class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-1">
               <div class="col-md-4 footer-feature">
                   <h3>Contact</h3>
                    <ul>
                        <li>159 Photography</li>
                        <li>Hare Park Lane</li>
                        <li>Cleckheaton</li>
                        <li>West Yorkshire</li>
                        <li><a href="mailto:info@159photography.co.uk">info@159photography.co.uk</a> </li>
                    </ul>
               </div>
               <div class="col-md-4 footer-feature">
                   <h3>Services</h3>
                    <ul>
                        <li>Wedding Photography</li>
                        <li>Event Photography</li>
                        <li>Prom Photography</li>
                        <li>Bar Photography</li>
                    </ul>
               </div>
               <div class="col-md-4 footer-feature">
                   <h3>Follow me</h3>
                    <div class="footer-social">
                        <a href="{{ site.facebook_username }}" target="_blank">
                            <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        </a>
                    </div>
                    <div class="footer-social">
                        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                            <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        </a>
                    </div>
               </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="small"><a href="http://www.159photography.co.uk" title="159Photography, Professional Event Photography, West Yorkshire">&copy; 2018 159Photography, West Yorkshire. All Rights Reserved.</a> </p>
                </div>
            </div>
        </div>
    </div>
</section>
