<section class="no-padding portfolio" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-4 col-sm-4 col-xs-12 single_portfolio_text">
                            <img src="img/portfolio/{{ page.portfolio-image-1 }}" alt="{{ page.portfolio-image-1-alt }}" title="{{ page.portfolio-image-1-title }}" />
                            <div class="portfolio_images_overlay text-center">
                                <h6 class="clrd-font">Event Photography</h6>
                                <p class="clrd-font">Photography for your event</p>
                                <a class="fancybox" rel="ligthbox" href="img/portfolio/{{ page.portfolio-image-1 }}">
                                    <div class="zoom-overlay"></div>
                                </a>
                            </div>
                            <a class="fancybox" rel="ligthbox" href="img/portfolio/{{ page.portfolio-image-1 }}">
                                <div class="zoom"></div>
                            </a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 single_portfolio_text">
                            <img src="img/portfolio/{{ page.portfolio-image-2 }}" alt="{{ page.portfolio-image-2-alt }}" title="{{ page.portfolio-image-2-title }}" />
                            <div class="portfolio_images_overlay text-center">
                                <h6 class="clrd-font">Event Photography</h6>
                                <p class="clrd-font">Photography for your event</p>
                                <a class="fancybox" rel="ligthbox" href="img/portfolio/{{ page.portfolio-image-2 }}">
                                    <div class="zoom-overlay"></div>
                                </a>
                            </div>
                            <a class="fancybox" rel="ligthbox" href="img/portfolio/{{ page.portfolio-image-2 }}">
                                <div class="zoom"></div>
                            </a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 single_portfolio_text">
                            <img src="img/portfolio/{{ page.portfolio-image-3 }}" alt="{{ page.portfolio-image-3-alt }}" title="{{ page.portfolio-image-3-title }}" />
                            <div class="portfolio_images_overlay text-center">
                                <h6 class="clrd-font">Event Photography</h6>
                                <p class="clrd-font">Photography for your event</p>
                                <a class="fancybox" rel="ligthbox" href="img/portfolio/{{ page.portfolio-image-3 }}">
                                    <div class="zoom-overlay"></div>
                                </a>
                            </div>
                            <a class="fancybox" rel="ligthbox" href="img/portfolio/{{ page.portfolio-image-3 }}">
                                <div class="zoom"></div>
                            </a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 single_portfolio_text">
                            <img src="img/portfolio/{{ page.portfolio-image-4 }}" alt="{{ page.portfolio-image-4-alt }}" title="{{ page.portfolio-image-4-title }}" />
                            <div class="portfolio_images_overlay text-center">
                                <h6 class="clrd-font">Event Photography</h6>
                                <p class="clrd-font">Photography for your event</p>
                                <a class="fancybox" rel="ligthbox" href="img/portfolio/{{ page.portfolio-image-4 }}">
                                    <div class="zoom-overlay"></div>
                                </a>
                            </div>
                            <a class="fancybox" rel="ligthbox" href="img/portfolio/{{ page.portfolio-image-4 }}">
                                <div class="zoom"></div>
                            </a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 single_portfolio_text">
                            <img src="img/portfolio/{{ page.portfolio-image-5 }}" alt="{{ page.portfolio-image-5-alt }}" title="{{ page.portfolio-image-5-title }}" />
                            <div class="portfolio_images_overlay text-center">
                                <h6 class="clrd-font">Event Photography</h6>
                                <p class="clrd-font">Photography for your event</p>
                                <a class="fancybox" rel="ligthbox" href="img/portfolio/{{ page.portfolio-image-5 }}">
                                    <div class="zoom-overlay"></div>
                                </a>
                            </div>
                            <a class="fancybox" rel="ligthbox" href="img/portfolio/{{ page.portfolio-image-5 }}">
                                <div class="zoom"></div>
                            </a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 single_portfolio_text">
                            <img src="img/portfolio/{{ page.portfolio-image-6 }}" alt="{{ page.portfolio-image-6-alt }}" title="{{ page.portfolio-image-6-title }}" />
                            <div class="portfolio_images_overlay text-center">
                                <h6 class="clrd-font">Event Photography</h6>
                                <p class="clrd-font">Photography for your event</p>
                                <a class="fancybox" rel="ligthbox" href="img/portfolio/{{ page.portfolio-image-6 }}">
                                    <div class="zoom-overlay"></div>
                                </a>
                            </div>
                            <a class="fancybox" rel="ligthbox" href="img/portfolio/{{ page.portfolio-image-6 }}">
                                <div class="zoom"></div>
                            </a>
                    </div>
        </div>
    </div>
</section>
