/* About Section */
section.about {
    height:100%;
    margin-bottom: 0;
    background-image: url('../img/background.jpg');
    background-color: #999;
    background-attachment: fixed;
    padding: 200px 0;
    .about-content {
        top: 50%;
        color: #fff;
    }
}
    @media (min-width: 768px) {
        section.about {
            h2  {
                font-size: 70px;
                color: #fff;
            }
            padding: 200px 20px 200px 100px;
            .one-five-nine-flex {
                display: flex;
                .one-five-nine-flex-1 {
                    flex: 1;
                }
            }
        .about-content {
            width: 800px;
            color: #fff;
            padding:20px;
        }
    }
}