// .portfolio-box {
//     position: relative;
//     display: block;
//     max-width: 650px;
//     margin: 0 auto;
//     .portfolio-box-caption {
//         color: white;
//         opacity: 0;
//         display: block;
//         background: rgba( $theme-dark, .9 );
//         position: absolute;
//         bottom: 0;
//         text-align: center;
//         width: 100%;
//         height: 100%;
//         @include transition-all;
//         .portfolio-box-caption-content {
//             width: 100%;
//             text-align: center;
//             position: absolute;
//             top: 50%;
//             transform: translateY(-50%);
//             .project-category,
//             .project-name {
//                 @include sans-serif-font;
//                 padding: 0 15px;
//             }
//             .project-category {
//                 text-transform: uppercase;
//                 font-weight: 600;
//                 font-size: 14px;
//             }
//             .project-name {
//                 font-size: 18px;
//             }
//         }
//     }
//     &:hover {
//         .portfolio-box-caption {
//             opacity: 1;
//         }
//     }
//     @media (min-width: 768px) {
//         .portfolio-box-caption {
//             .portfolio-box-caption-content {
//                 .project-category {
//                     font-size: 16px;
//                 }
//                 .project-name {
//                     font-size: 22px;
//                 }
//             }
//         }
//     }
// }
section.portfolio {
    *{
        padding:0;
        margin:0;
        -webkit-transition: 1s;
        transition: 1s;
    }
    .clrd-font{
        background: $theme-dark;
        // background: -webkit-linear-gradient(to right, #F09819, $theme-dark);
        // background: linear-gradient(to right, #F09819, $theme-dark);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .btn-primary {
        background-color:transparent;
        color: #fff;
        border: 2px solid #fff;
        font-size:20px;
        text-transform: uppercase;
        border-radius: 0px; 
    }
    .btn-primary:hover {
        background-color:transparent;
        border-color: #d6962c;
        color: #d6962c;
        border-radius: 20px;
    }

    .single_portfolio_text{
        display:inline-block;
        padding:0;
        position:relative;
        overflow:hidden;
    }
    .single_portfolio_text img{
        width:100%;
    }

    .single_portfolio_text:hover .portfolio_images_overlay{
        top:5%;
        left: 5%;
    }

    .portfolio_images_overlay{
        width: 90%;
        height: 90%;
        background: rgba(0, 0, 0, 0.8);
        padding: 20px;
        margin: 0 auto;
        top: -100%;
        left: 5%;
        position: absolute;
        transition:.6s;
        
    }
    .portfolio_images_overlay h6{
        text-transform: uppercase;
        color: #fff;
        font-size: 30px;
        font-weight: 900;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .portfolio_images_overlay .product_price{
        font-size: 35px;
        color: #fff;
        font-weight:800;
        line-height:30px;
    }
    .portfolio_images_overlay .product_price i{
        margin-right: -10px;
    }
    .zoom-overlay{
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 20px;
        border-radius: 50%;
        margin:0 auto;
        right: 50%;
        margin-right: -25px;
        background: $theme-primary;
        // background: -webkit-linear-gradient(to right, #F09819, $theme-dark);
        // background: linear-gradient(to right, #F09819, $theme-dark);
        box-shadow:0px 0px 0px 10px rgba(0,0,0,0.5);
        opacity:0.9;
    }
    .zoom-overlay:before {
        content: "\f00e";
        font-family: FontAwesome;
        color: rgba(255, 255, 255, 0.5);
        font-size: 20px;
        padding-right: 20px;
        position: absolute;
        top: 10px;
        left: 15px;
    }
    .zoom{
        width: 200px;
        height: 200px;
        position: absolute;
        bottom: -100px;
        right: -100px;
        border-radius: 50%;

        background: $theme-primary;
        // background: -webkit-linear-gradient(to right, #F09819, $theme-dark);
        // background: linear-gradient(to right, #F09819, $theme-dark);
        box-shadow:0px 0px 0px 10px rgba(0,0,0,0.5);
        opacity:0.9;
    }
    .zoom:before {
        content: "\f00e";
        font-family: FontAwesome;
        color: rgba(255, 255, 255, 0.5);
        font-size: 70px;
        padding-right: 20px;
        position: absolute;
        top: 10px;
        left: 30px;
    }
    @media (min-width:769px) and (max-width:991px) {
        .portfolio_images_overlay {
            padding: 0px;
        }
    }
    @media (max-width:768px) {
        .portfolio_images_overlay{
            padding: 170px 20px;
        }
    }
    @media (max-width:580px) {
        .portfolio_images_overlay{
            padding: 100px 20px;
        }
    }
    @media (max-width:480px) {
        .portfolio_images_overlay{
            padding: 40px 20px;
        }
    }
    @media (max-width:320px) {
        .portfolio_images_overlay{
            padding: 20px;
        }
    }
}
